# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env

# VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
Desktop.ini

# Mac (Just in case)
.DS_Store

# Logs and Databases
*.log
*.sqlite3